*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

.boxes{
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.box{
    height: 100px;
    width: 100px;
    background-color: rgb(0,0,0);
}

.page1{
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page2{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 26);
    overflow: hidden;
    white-space: nowrap;
}
.page3{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 19, 0);
}

.page4{
    height: 100vh;
    width: 100vw;
    background-color: rgb(19, 0, 13);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 .box1{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 183, 255);
}
.page1 .box2{
    height: 100px;
    width: 100px;
    background-color: rgb(113, 169, 190);
}

.page2 h1{
    font-size: 200px;
    color: yellowgreen;
}

path{
    stroke-width: 2px;
}



.circle {
    margin-left: 700px;
    height: 500px;  
    width: 500px;
    border-radius: 50%;   
    background-color: white;
    display: flex;
    justify-content: center;
}

.eye {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;

}

.pupil {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.mouth{
    height: 100px;
    width: 300px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border: 5px solid black;
    border-top: none;
    margin-top: 20px;

    position: absolute;
    top: 365%;
    left: 63%;
}

.page5{
    height: 100vh;
    width: 100vw;
    background-color: rgb(97, 0, 40);
}

.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}

.divpage5{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divpage5 h1,
.divpage5 p  {
    color: white;
    padding: 100px;
    margin: 20px;
}


.divpage5 h1:hover,
.divpage5 p:hover {
    color: red;
}
